<div class="content-section-a">
    <div class="container">
        {% include code_demo.html %}
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">
        {% include admin_demo.html %}
    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">
    <div class="container">
        {% include invoice_demo.html %}
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">
        {% include pricing.html %}
    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->