<div class="row">
    <div class="col-md-8 col-md-offset-3 col-xs-6">
    	<div class="row">
    		<div class="col-md-3 col-md-offset-3">
    			<h2>Our Plans</h2>
    		</div>
    	</div>
		<section id="pricePlans">
			<ul id="plans">
				<li class="plan">
					<ul class="planContainer">
						<li class="title"><h2>Pro</h2></li>
						<li class="price"><p>$149/<span>month</span></p></li>
						<li>
							<ul class="options">
								<li>1000 <span>Customers</span></li>
								<li>∞ <span>Team Members</span></li>
								<li>∞ <span>Digital Invoice</span></li>
								<li><span>Monthly Email Reports</span></li>
								<li>Email & Phone Support</li>
							</ul>
						</li>
						<li class="button"><a href="http://eepurl.com/bhSugf">Sign Up</a></li>
					</ul>
				</li>				
				<li class="plan">
					<ul class="planContainer">
						<li class="title"><h2>Hobby</h2></li>
						<li class="price"><p>$49/<span>month</span></p></li>
						<li>
							<ul class="options">
								<li>200 <span>customers</span></li>
								<li>∞ <span>Team Members</span></li>
								<li>∞ <span>Digital Invoice</span></li>
								<li><span>Monthly Email Reports</span></li>
								<li>Email support</li>
								<li class="button"><a href="http://eepurl.com/bhSugf">Sign Up</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="plan">
					<ul class="planContainer">
						<li class="title"><h2>Salesman</h2></li>
						<li class="price"><p>Two month FREE!<sup>*</sup></p></li>
						<li>
							<ul class="options">
								<li>50 <span>customers</span></li>
								<li>∞ <span>Team Members</span></li>
								<li><span>Monthly Email Reports</span></li>
								<li>Email support</li>
								<li>&nbsp; </li>
								<li class="button"><a href="mailto:zhe@getbagsy.com">Apply</a></li>
							</ul>
						</li>
					</ul>
				</li>	
			</ul>
		</section>
    	<div class="row">
    		<div class="col-md-8 col-md-offset-1">
    			<p>* We offer a Salesman plan for each Pro/Hobby customer you referred:)</p>
    		</div>
    	</div>
  	</div>
</div>